
body {
    background: #f0f0f0;
    margin: 0;
    padding: 0;
}

.main-content {
    margin: 50px 0 0 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}



nav {
    background: white;
    width: 100vw;
    height: 65px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#med-nav {
    display: flex;
    align-items: center;
}

#logo-small {
    background-image: url("logo.png");
    background-size: cover;
    height: 105px;
    width: 105px;
    position: absolute;
    z-index: 1;
    top: -20px;
}

#logo-med {
    background-image: url("logo.png");
    background-size: cover;
    height: 105px;
    width: 105px;
    /*position: absolute;*/
    z-index: 1;
    top: -20px;
}

#codeup-gray {
    height: 48px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Abel', sans-serif;

}

#codeup-white {
    height: 48px;
    font-family: 'Abel', sans-serif;

}

#codeup-white h2 {
    margin-bottom: 0;
    padding-right: 170px;
}

#small-nav li:nth-child(2) {
    margin-right: 75px;
}

#small-nav li:nth-child(3){
    margin-left: 75px;
}

.nav-links {
    list-style-type: none;
    font-family: 'Abel', sans-serif;
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: .75em;
    margin-bottom: 0;
}

.nav-links li {
    display: inline-block;
    padding: 0 10px;
}

.nav-links a {
    color: black;
}

.main-text h1 {
    height: 64px;
    font-family: 'Anton', sans-serif;
    font-weight: bolder;
    text-align: center;
    margin-top: 40px;
}

.main-text h2 {
    height: 32px;
    font-family: 'Anton', sans-serif;
    font-weight: bolder;
    text-align: center;
    margin-top: 50px;
}

.circles {
    padding: 40px 40px 0 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.circles div {
    height: 105px;
    width: 105px;
    color: white;
    font-family: 'Anton', sans-serif;
    font-weight: bolder;
    border: 5px solid white;
    border-radius: 50%;
    margin: 10px;
}

.red {
    background-color: #E6563B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orange {
    background-color: #EB9D3A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green {
    background-color: #7CB06C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teal {
    background-color: #00ABA9;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    width: 70%;
    margin-bottom: 30px;
}

h5 {
    font-family: 'Abel', sans-serif;
    font-size: .75em;
    text-align: center;
}

.photos {
    margin-top: 40px;
}

div.row.photos img {
    border: 5px solid #E6E6E6;
    border-radius: 10px;
    padding: 0;
}

.bottomofpage {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
}

.icons {
    display: flex;

}

.icons li {
    height: 18px;
    width: 18px;
    font-size: 0.5em;
    font-family: 'Anton', sans-serif;
    margin: 0 2px;
}

.i-red {
    background-color: #E6563B;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i-orange {
    background-color: #EB9D3A;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i-green {
    background-color: #7CB06C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i-teal {
    background-color: #00ABA9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
